# Python. Очный модуль в Москве

## День 1. Часть 9 (Слияние таблиц, практика)

Вам предоставлены данные по рынку недвижимости в регионах России по данным сайта Дом Клик: domclick.csv

Признаки в данных:

- rating_announcement - рейтинг регионов по количеству объявлений о продаже
- rating_announcement_change - изменение рейтинга регионов по количеству объявлений о продаже
- region - регион
- announcement_count - общее количество активных объявлений о продаже
- announcement_count_resale - активных объявлений, вторичка
- announcement_count_new - активных объявлений, новостройки
- avg_price_resale - cредняя стоимость м², вторичка
- avg_price_new - cредняя стоимость м², новостройки
- rating_loan - рейтинг регионов по количеству заявок на кредит
- rating_loan_change - изменение рейтинга регионов по количеству заявок на кредит
- min_numb_of_appr_loan - минимальное количество одобренных заявок
- share_of_onln_loan - доля онлайн-заявок на кредит
- share_of_office_loan - доля заявок в офисе банка

Вам предоставлены данные по субъектам РФ: FO.xlsx

Признаки в данных: 
- Субъект РФ	
- Всё население	
- % от общ. населения	
- Городское население	
- % городского населения	
- Сельское население	
- % сельского населения	
- Площадь	
- Плотность населения	
- Федеральный округ

In [9]:
# загрузите датасетыb
dom=pd.read_csv('dom_clean.csv')
dom.head(1)

,rating_announcement,rating_announcement_change,region,announcement_count,announcement_count_resale,announcement_count_new,avg_price_resale,avg_price_new,rating_loan,rating_loan_change,min_numb_of_appr_loan,share_of_onln_loan,share_of_office_loan
0,1,0,Краснодарский Край,228037,75809,52225.0,127764,132270.0,3,0,5000.0,0.47,0.53

In [12]:
fo = pd.read_csv('fo_clean.csv')
fo.head(1)

,region,all,all_%,city,city_%,village,village_%,sq,density,FO
0,Москва,13104177,8.95,13015126,99.32,0,0.0,2561,5116.82,ЦФО

### Задание 1

Создайте новый датафрейм, в котором к данным по рынку недвижимости у регионов будет проставлено всё население, % от общего населения

In [20]:
df1= dom.merge(fo[['region', 'all', 'all_%']],
               how='left',
               on='region'
              )
df1.head

<bound method NDFrame.head of     rating_announcement  rating_announcement_change  \
0                     1                           0
1                     2                           0
2                     3                           0
3                     4                           0
4                     5                           1
..                  ...                         ...
78                   79                           0
79                   81                          -1
80                   82                          -1
81                   84                          -2
82                   86                          -3

                          region  announcement_count  \
0             Краснодарский Край              228037
1             Московская Область              172242
2                         Москва              145131
3                Санкт-Петербург               93237
4             Ростовская Область               88638
..                           ...                 ...
78  Еврейская Автономная Область                 799
79          Республика Ингушетия                 684
80           Магаданская Область                 481
81    Чукотский Автономный Округ                  87
82     Ненецкий Автономный Округ                  64

    announcement_count_resale  announcement_count_new  avg_price_resale  \
0                       75809                 52225.0            127764
1                       57247                 34838.0            153659
2                       65638                 56824.0            275281
3                       44008                 40695.0            188425
4                       41625                 17202.0             93333
..                        ...                     ...               ...
78                        299                     NaN             71528
79                        329                     NaN             46763
80                        391                     NaN            113060
81                         78                     NaN            110500
82                         48                     NaN             85092

    avg_price_new  rating_loan  rating_loan_change  min_numb_of_appr_loan  \
0        132270.0            3                   0                 5000.0
1        181756.0            1                   1                10000.0
2        315195.0            2                  -1                10000.0
3        236205.0            4                   0                 5000.0
4        105500.0           11                  -2                 5000.0
..            ...          ...                 ...                    ...
78            NaN           80                   0                    1.0
79            NaN           84                  -2                    NaN
80            NaN           78                   0                  100.0
81            NaN           86                  -3                    NaN
82            NaN           82                  -1                    NaN

    share_of_onln_loan  share_of_office_loan       all  all_%
0                 0.47                  0.53   5819345   3.97
1                 0.62                  0.38   8591736   5.87
2                 0.60                  0.40  13104177   8.95
3                 0.53                  0.47   5600044   3.82
4                 0.46                  0.54   4164547   2.84
..                 ...                   ...       ...    ...
78                0.54                  0.46    147458   0.10
79                 NaN                   NaN    519078   0.35
80                0.67                  0.33    134315   0.09
81                 NaN                   NaN     47840   0.03
82                 NaN                   NaN     41383   0.03

[83 rows x 15 columns]>

In [17]:
df2 = dom [['region',
            'announcement_count_resale',
            'announcement_count_new']]
df2.head

<bound method NDFrame.head of                           region  announcement_count_resale  \
0             Краснодарский Край                      75809
1             Московская Область                      57247
2                         Москва                      65638
3                Санкт-Петербург                      44008
4             Ростовская Область                      41625
..                           ...                        ...
78  Еврейская Автономная Область                        299
79          Республика Ингушетия                        329
80           Магаданская Область                        391
81    Чукотский Автономный Округ                         78
82     Ненецкий Автономный Округ                         48

    announcement_count_new
0                  52225.0
1                  34838.0
2                  56824.0
3                  40695.0
4                  17202.0
..                     ...
78                     NaN
79                     NaN
80                     NaN
81                     NaN
82                     NaN

[83 rows x 3 columns]>

In [23]:
df1.head()

,rating_announcement,rating_announcement_change,region,announcement_count,announcement_count_resale,announcement_count_new,avg_price_resale,avg_price_new,rating_loan,rating_loan_change,min_numb_of_appr_loan,share_of_onln_loan,share_of_office_loan,all,all_%
0,1,0,Краснодарский Край,228037,75809,52225.0,127764,132270.0,3,0,5000.0,0.47,0.53,5819345,3.97
1,2,0,Московская Область,172242,57247,34838.0,153659,181756.0,1,1,10000.0,0.62,0.38,8591736,5.87
2,3,0,Москва,145131,65638,56824.0,275281,315195.0,2,-1,10000.0,0.60,0.40,13104177,8.95
3,4,0,Санкт-Петербург,93237,44008,40695.0,188425,236205.0,4,0,5000.0,0.53,0.47,5600044,3.82
4,5,1,Ростовская Область,88638,41625,17202.0,93333,105500.0,11,-2,5000.0,0.46,0.54,4164547,2.84

In [26]:
df2.groupby('FO')[['announcement_count_resale', 'announcement_count_new']].sum()

KeyError: 'FO'

### Задание 2

Создайте новый датафрейм, где будет агрегированная информация о том, сколько в сумме активных объявлений вторичек и новостроек в каждом федеральном округе.

### Задание 3

Создайте новый датафрейм, где сохранится информация по населению в субъектах РФ, а также добавится информация по средней стоимости квадратного метра вторички и новостроек.

In [29]:
df3 = fo[['region', 'all']].merge(dom[
                                  ['region', 'avg_price_resale','avg_price_new']],
                                  how='inner',
                                  on ='region')

In [30]:
df3.head

<bound method NDFrame.head of                           region       all  avg_price_resale  avg_price_new
0                         Москва  13104177            275281       315195.0
1             Московская Область   8591736            153659       181756.0
2             Краснодарский Край   5819345            127764       132270.0
3                Санкт-Петербург   5600044            188425       236205.0
4           Свердловская Область   4239161             92459       115375.0
..                           ...       ...               ...            ...
78              Республика Алтай    210769            104167        96000.0
79  Еврейская Автономная Область    147458             71528            NaN
80           Магаданская Область    134315            113060            NaN
81    Чукотский Автономный Округ     47840            110500            NaN
82     Ненецкий Автономный Округ     41383             85092            NaN

[83 rows x 4 columns]>

In [35]:
df3.isna().sum()

region              0
all                 0
avg_price_resale    0
avg_price_new       0
dtype: int64

In [34]:
df3['avg_price_new'] = df3['avg_price_new'].astype(int)

In [37]:
df3[['avg_price_new']].map('{:,.2f}'.format)

   avg_price_new
0     315,195.00
1     181,756.00
2     132,270.00
3     236,205.00
4     115,375.00
..           ...
78     96,000.00
79          0.00
80          0.00
81          0.00
82          0.00

[83 rows x 1 columns]

### Задание 4

Посмотрите на корреляцию между данными по субъектам РФ и стоимости квадратного метра.

In [38]:
df3.corr()

ValueError: could not convert string to float: 'Москва'