# Python. Очный модуль в Москве

## День 1. Часть 9 (Слияние таблиц, практика)

Вам предоставлены данные по рынку недвижимости в регионах России по данным сайта Дом Клик: domclick.csv

Признаки в данных:

- rating_announcement - рейтинг регионов по количеству объявлений о продаже
- rating_announcement_change - изменение рейтинга регионов по количеству объявлений о продаже
- region - регион
- announcement_count - общее количество активных объявлений о продаже
- announcement_count_resale - активных объявлений, вторичка
- announcement_count_new - активных объявлений, новостройки
- avg_price_resale - cредняя стоимость м², вторичка
- avg_price_new - cредняя стоимость м², новостройки
- rating_loan - рейтинг регионов по количеству заявок на кредит
- rating_loan_change - изменение рейтинга регионов по количеству заявок на кредит
- min_numb_of_appr_loan - минимальное количество одобренных заявок
- share_of_onln_loan - доля онлайн-заявок на кредит
- share_of_office_loan - доля заявок в офисе банка

Вам предоставлены данные по субъектам РФ: FO.xlsx

Признаки в данных: 
- Субъект РФ	
- Всё население	
- % от общ. населения	
- Городское население	
- % городского населения	
- Сельское население	
- % сельского населения	
- Площадь	
- Плотность населения	
- Федеральный округ

In [1]:
# загрузите датасеты
import pandas as pd

In [3]:
dom=pd.read_csv('domclick.csv')
dom.head(1)

,rating_announcement,rating_announcement_change,region,announcement_count,announcement_count_resale,announcement_count_new,avg_price_resale,avg_price_new,rating_loan,rating_loan_change,min_numb_of_appr_loan,share_of_onln_loan,share_of_office_loan
0,1,0,Краснодарский Край,228037,75809,52225.0,127764,132270.0,3,0,5000.0,0.47,0.53

In [5]:
fo = pd.read_excel('FO.xlsx')
fo.head(1)

,Субъект РФ,Всёнаселение,% от общ. населения,Городскоенаселение,% городского населения,Сельскоенаселение,% сельского населения,Площадь,Плотность населения,Федеральный округ
0,Москва,13104177,8.95,13015126,99.32,0,0.0,2561,5116.82,ЦФО

In [21]:
fo.columns = ['regions', 'all', 'all_%', 'city', 'city_%', 'village', 'village_%', 'sq', 'density', 'FO'] #заменяем колонки в xlsx

In [22]:
fo.columns.values[0] = 'region' #заменяем только одно значение

In [23]:
fo.columns

Index(['region', 'all', 'all_%', 'city', 'city_%', 'village', 'village_%',
       'sq', 'density', 'FO'],
      dtype='object')

In [25]:
fo.head()

,region,all,all_%,city,city_%,village,village_%,sq,density,FO
0,Москва,13104177,8.95,13015126,99.32,0,0.00,2561,5116.82,ЦФО
1,Московская область,8591736,5.87,6703233,78.02,1839024,21.40,44329,193.82,ЦФО
2,Краснодарский край,5819345,3.97,3322319,57.09,2509723,43.13,75485,77.09,ЮФО
3,Санкт-Петербург,5600044,3.82,5607916,100.14,0,0.00,1403,3991.48,СЗФО
4,Свердловская область,4239161,2.89,3658528,86.30,605163,14.28,194307,21.82,УФО

In [26]:
dom.head()

,rating_announcement,rating_announcement_change,region,announcement_count,announcement_count_resale,announcement_count_new,avg_price_resale,avg_price_new,rating_loan,rating_loan_change,min_numb_of_appr_loan,share_of_onln_loan,share_of_office_loan
0,1,0,Краснодарский Край,228037,75809,52225.0,127764,132270.0,3,0,5000.0,0.47,0.53
1,2,0,Московская Область,172242,57247,34838.0,153659,181756.0,1,1,10000.0,0.62,0.38
2,3,0,Москва,145131,65638,56824.0,275281,315195.0,2,-1,10000.0,0.60,0.40
3,4,0,Санкт-Петербург,93237,44008,40695.0,188425,236205.0,4,0,5000.0,0.53,0.47
4,5,1,Ростовская Область,88638,41625,17202.0,93333,105500.0,11,-2,5000.0,0.46,0.54

In [29]:
'Новосибирская область'.title()

'Новосибирская Область'

In [27]:
fo['region'] = fo['region'].apply(lambda x: x.title()) 
#перезапись колонки регион Метод .title() в Python применяется к строкам и изменяет регистр букв в строке таким образом, что первая буква каждого слова становится заглавной, а все остальные буквы — строчными

In [30]:
dom['region'] = dom['region'].apply(lambda x: x.title()) #перезапись колонки регион для дома

In [41]:
set(dom['region']) ^ set (fo['region'])

{'Республика Крым[A]', 'Севастополь[A]'}

In [32]:
dom[dom['region'] == 'Республика Северная Осетия - Алания'] #поиск косячника

,rating_announcement,rating_announcement_change,region,announcement_count,announcement_count_resale,announcement_count_new,avg_price_resale,avg_price_new,rating_loan,rating_loan_change,min_numb_of_appr_loan,share_of_onln_loan,share_of_office_loan
62,63,1,Республика Северная Осетия - Алания,5347,3462,316.0,71970,65000.0,48,0,1000.0,0.31,0.69

In [33]:
fo[fo['region'] == 'Республика Северная Осетия - Алания'] #поиск косячника

Empty DataFrame
Columns: [region, all, all_%, city, city_%, village, village_%, sq, density, FO]
Index: []

In [34]:
dom.at[19, 'region'] #поиск

'Ханты-Мансийский Автономный Округ - Югра'

In [38]:
dom.at[19, 'region'] = 'Ханты-Мансийский Автономный Округ — Югра'  #поиск и замена

In [40]:
dom.at[62, 'region'] = 'Республика Северная Осетия — Алания'  #поиск и замена

### Задание 1

Создайте новый датафрейм, в котором к данным по рынку недвижимости у регионов будет проставлено всё население, % от общего населения



### Задание 2

Создайте новый датафрейм, где будет агрегированная информация о том, сколько в сумме активных объявлений вторичек и новостроек в каждом федеральном округе.

In [42]:
dom.to_csv('dom_clean.csv', index=False)

In [43]:
fo.to_csv('fo_clean.csv', index=False)

###

### Задание 3

Создайте новый датафрейм, где сохранится информация по населению в субъектах РФ, а также добавится информация по средней стоимости квадратного метра вторички и новостроек.

### Задание 4

Посмотрите на корреляцию между данными по субъектам РФ и стоимости квадратного метра.

In [ ]:
df1= dom.merge(fo
               how='left',
               on='region'
              )
df1.head